<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ohwittmannone.just_paws">

    <application
        android:allowBackup="true"
        android:icon="@drawable/justpawslogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailCardLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.PasswordResetActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".admin.AddAnimalActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".admin.EditAnimalActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".admin.AdminMgmt"
            android:screenOrientation="portrait"/>
        <activity android:name=".AnimalFullscreenActivity"
            android:screenOrientation="portrait"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="04cbbae5172a59588faa0f3b1a4b6b9ab25e9f7c" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>