<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ohwittmannone.just_paws">

    <application
        android:allowBackup="true"
        android:icon="@drawable/justpawslogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".DetailCardLayout"/>
        <activity android:name=".login.RegisterActivity"/>
        <activity android:name=".login.LoginActivity"/>
        <activity android:name=".login.PasswordResetActivity"/>
    </application>

</manifest>